{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "strict": 0,
    "react/prop-types": 0,
    "semi": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
        ]
      }
    ]
  },
  "settings": {
    "react": {
       "version": "*", // React version, default to the latest React stable release
    },
  },
  "env": {
    "amd": true,
    "browser": true,
    "node": true
  },
  "globals": {
    "window": true
  }
}
